.navigationBar {
    height: 100%;
    width: 18%;
    min-width: 200px;
    max-width: 300px;
    padding: var(--container-vertical-padding) var(--container-horizontal-padding);
    border-right: 1.5px solid #DADDE1;
}

.windowNotFull {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    background-color: #ffffff;
    z-index: 10;
}